.searchContainer {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.searchInput {
  border: 1px solid #AAA;
  box-shadow: 0 1px 4px #DDD;
  border-radius: 4px;
  padding: 0.3em;
  width: 40vw;
}